<div class="container">
  <mat-card>
    <mat-card-title><h4><i class="material-icons">business</i> About</h4></mat-card-title>
    <mat-card-content>
      <mat-list-item>  
         <p> Author: <a href="https://d-lite-systems.com" target="_blank">Lamine Toure</a></p>
      </mat-list-item>
        <mat-list-item>
          <p>GitHub: <a href="https://github.com/d-lite-systems/angular-ngx-blog-d-lite" target="_blank">project repository</a></p>
        </mat-list-item>
        <mat-list-item>
          <p>This project uses the MEAN stack:</p>
        </mat-list-item>
        <mat-card>
          <mat-card-content>
          <mat-list-item>
            <a href="http://www.mongoosejs.com" target="_blank">Mongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)
          </mat-list-item>
          <mat-list-item>
            <a href="http://www.expressjs.com" target="_blank">Express.js</a>
          </mat-list-item>
          <mat-list-item>
            <a href="https://www.angular.io" target="_blank">Angular 2+</a>
          </mat-list-item>
          <mat-list-item>
            <a href="https://www.nodejs.org" target="_blank">Node.js</a>
          </mat-list-item>
        </mat-card-content>

      </mat-card>
      <br>
        <mat-list-item>
          <p>Other tools and technologies used:<p>
        </mat-list-item>
        <mat-card>
          <mat-card-content>
          <mat-list-item>
            <a href="https://cli.angular.io" target="_blank">Angular CLI</a>
          </mat-list-item>
          <mat-list-item>
            <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a>
          </mat-list-item>
          <mat-list-item>
            <a href="http://www.fontawesome.io" target="_blank">Font Awesome</a>
          </mat-list-item>
          <mat-list-item>
            <a href="https://jwt.io" target="_blank">JSON Web Token</a>
          </mat-list-item>
          <mat-list-item>
            <a href="https://github.com/auth0/angular2-jwt" target="_blank">Angular 2 JWT</a>
          </mat-list-item>
          <mat-list-item>
            <a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a>
          </mat-list-item>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>
</div>